/* Global */
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F0F4F5;
}

/* Container */
.container {
    width: 90%;
    margin: 0 auto;
}