/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

/* Global Styles */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Container Styles */
.container {
    height: 100vh;
    background-color: #000000;
    color: #FFFFFF;
}